@mixin flex($align: "normal",$justify: "flex-start",$direction : "row", $wrap: "nowrap"){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
